.pagination {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin: auto;
    margin-bottom: 100px;
}

.pagination button {
    width: 80px;
    background-color: #3874ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    font-family: CaviarDreams;
}

.pagination p {
    display: inline-block;
    border: 1px solid #3874ff;
    width: 30px;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 1.1rem;
    font-family: CaviarDreams;
}

.disabled {
    opacity: 0.3;
}

.selected {
    background-color: #3874ff;
}

@font-face {
    font-family: CaviarDreams;
    src: url(../../fonts/CaviarDreams.ttf);
}